﻿@model FizzBuzzDemo.Models.FizzBuzzViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "FizzBuzzDemo";
}

<div class="margin-top-25">
    <div class="container">
        @using (Html.BeginForm("GetFizzBuzzList", "FizzBuzz", FormMethod.Get))
        {
        <div class="row">
            <div class="col-md-3">@Html.LabelFor(m => m.Number)</div>
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                <div class="validation-message">
                    @Html.ValidationMessageFor(m => m.Number)
                </div>
            </div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-3"></div>
            <div class="col-md-3"><button type="submit" class="btn btn-info">Submit</button></div>
        </div>
        }
    </div>
    <div class="row margin-top-25">
        @Html.Partial("PartialFizzBuzzList")
    </div>
</div>

