﻿@model FizzBuzzDemo.Models.FizzBuzzViewModel
@using PagedList.Mvc

@if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Count > 0)
{
    <table class="table table-borderless">
        <tr>
            <th>Display value</th>
        </tr>
        @foreach (var item in Model.FizzBuzzList)
        {
            <tr>
                @{
                var displayValArray = item.Split(' ');
                <td>
                    @if (displayValArray.Length > 1)
                    {
                        foreach (var val in displayValArray)
                        {
                            <span class="@val">@val</span>
                        }
                    }
                    else
                    {
                        <span class="item">@item</span>
                    }
                </td>
                }
            </tr>
        }
    </table>

    <div class="pagination">
        Page @(Model.FizzBuzzList.PageCount < Model.FizzBuzzList.PageNumber ? 0 : Model.FizzBuzzList.PageNumber) of @Model.FizzBuzzList.PageCount

        @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("GetFizzBuzzList", new { Number = Model.Number, page }))
    </div>
}
